[submodule "bundle/snipmate.vim"]
	path = bundle/snipmate.vim
	url = https://github.com/msanders/snipmate.vim.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "bundle/vim-puppet"]
	path = bundle/vim-puppet
	url = https://github.com/ricciocri/vim-puppet.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown
[submodule "bundle/tcomment_vim"]
	path = bundle/tcomment_vim
	url = https://github.com/tomtom/tcomment_vim
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/bling/vim-airline 
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "bundle/vim-nerdtree-tabs"]
	path = bundle/vim-nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs
[submodule "colors/lucius"]
	path = colors/lucius
	url =  https://github.com/jonathanfilip/vim-lucius
